.container{
    .page-header{
        margin: 5%;
        color: #a88809c7;
        font-family: 'Dancing Script', cursive;
    }
}
.button{
    margin: 2%;
    padding: 1%;
}

.but-container{
    width: 30%;
    .submitBut{
        background: #2c3e50;
        font-size: 2rem;
        color: white;
        
    }
}
// .container{
//     .row{
//         box-sizing: none;
//     }
// }