.welcome{
    color: #f1c40f;
    font-family: 'Dancing Script', cursive;
}

.preview{
    color: #7f8c8d;
    font-family: 'Dancing Script', cursive;
}

.jumboTop{
    margin-top: 2.5%;
}

// .jumboContainer{
//     margin: 0 0;
// }
// font to use 
// font-family: 'Dancing Script', cursive;
// font-family: 'Pacifico', cursive;
// font-family: 'Cinzel', serif;
// font-family: 'Permanent Marker', cursive;
// font-family: 'Satisfy', cursive;
// font-family: 'Playfair Display SC', serif;