.welcome{
    color: #f1c40f;
    font-family: 'Dancing Script', cursive;
}

.preview{
    color: #7f8c8d;
    font-family: 'Dancing Script', cursive;
}

.jumboTop{
    margin-top: 2.5%;
}

// .jumboContainer{
//     margin: 0 0;
// }
// font to use 
// font-family: 'Dancing Script', cursive;
// font-family: 'Pacifico', cursive;
// font-family: 'Cinzel', serif;
// font-family: 'Permanent Marker', cursive;
// font-family: 'Satisfy', cursive;
// font-family: 'Playfair Display SC', serif;

// .header {
//     overflow: hidden;
// }



  .modal {
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
}

.modal-content {
    text-align: center;
    background-color: white;
    border-radius: 20px;
    margin: auto;
    padding: 25px;
    position: relative;
    width: 80%;
    z-index: 1;
}

.modal-content h1 {
    border-bottom: 1px solid #dedede;
    margin-bottom: 20px;
    padding-bottom: 25px;
}

.basic-modal-close {
    height: 30px;
    width: 30px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    font-weight: bold;
    color: #dedede;
    cursor: pointer;
}

.basic-modal-close:hover {
    color: #ff0000;
    background-color: #dedede;
}

@media only screen and (max-width: 768px) {
.modal{
    .modal-content h1 {
        font-size: 1.3rem;
    }
    .modal-content{
        width: 80%;
    }
}

// .modal-content{
//     width: 80%;
// }
}

.header {
    .title{
        padding: 60px;
        text-align: center;
        background: #1abc9c;
        color: white;
        font-family: 'Satisfy', cursive;
        font-size: 3rem;
        margin: 0px;
    }
}

#hexagon {
    width: 100px;
    height: 55px;
    background: #d65454;
    position: relative;
  }
#hexagon:before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid white;
}
#hexagon:after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid #d65454;
}  