.card{
    margin: 1%;
    .midText{
        color: rgb(50, 50, 117);
    }   
}

.all{
    background: #d5e2e6;
    .row{
        margin: 0;
    }
}

.card-container{
    .page-header{
        // color: #a88809c7;
        color: #0fc5a1;
        text-shadow: 2px 2px white;
        font-family: 'Dancing Script', cursive;
        margin: 3%;
    }
    
}

.buy-sell{
    font-size: 4rem;
}

h5{
    color: blue;
}

.card-title:hover{
    color: #80deea;
    cursor:pointer;
}

img{
    cursor:pointer;
}