.card{
    margin: 1%;
    .midText{
        color: rgb(50, 50, 117);
    }   
}

.all{
    background: #d5e2e6;
    .row{
        margin: 0;
    }
}

.card-container{
    .page-header{
        color: #a88809c7;
        font-family: 'Dancing Script', cursive;
        margin: 3%;
    }
    
}

