// .btn-pad{
//     padding: .6rem;
//     font-size: 1.3rem;
// }

.card-title:hover{
    color: blue;
    cursor:default;
}

.card{
    .midText{
        color: rgb(50, 50, 117);
    }   
}

img{
    cursor:default;
}