.container{
    .page-header{
        margin: 5%;
        // color: #a88809c7;
        color: #0fc5a1;
        text-shadow: 2px 2px white;
        font-family: 'Dancing Script', cursive;
    }
}
.button{
    margin: 2%;
    padding: 1%;
}

.header{
    font-size: 4rem;
}

.but-container{
    margin: 2%;
    width: 40%;
    .submitBut{
        background: #2c3e50;
        font-size: 2rem;
        color: white;
        
    }
}
.labelInputContainer{
    width: 100%;
    .input-container{
        width: 100%;
        input{
            height: 100%;
            padding: inherit
        }
    }
}

.space{
    height: 100px;
}

